* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Nav-content1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    height: 7rem;
    /* height: 8rem; */
    /* height: 8rem; */
    max-height: 100%;
    background-color: #46469C;
}
    



    


.Nav-mobile {
    display: none;
}

.Nav-content1 ul {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 7rem;
}


.Nav-content1 a:hover {
    cursor: pointer;
    color: white;
}

.Nav-content1 img {
    margin: 1.2rem auto;
    width: 7rem;
    height: 5rem;
}


.Nav-content1 li {
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: auto auto;

}
.Nav-content .logo {
    padding-left:50px;
}

.Nav-content1 li {
    display: flex;
}

.logo img:hover {
    transition: 0.5s;
    transform: scale(1.3);
}

.login-name {
    display: flex;
    justify-content: space-around; 
    align-items: center;

    padding-top: 3rem;
    padding-right: 0.25rem;
    width: 20%;
    height: 5rem;

    gap: 0.5rem;
    
}

.login-name button {
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    width: 6rem;
    height: 3rem;
    padding: 10px 20px 10px 20px;
}


/* ==================== MEDIA QUERY ================== */


@media screen and (max-width :986px) {
    .Nav-content1 {
        display: none;
    }

    .Nav-mobile {
        margin: auto;
        background-color: #46469C;
        height: 6rem;
        display: flex;
        
    }

    .logo-mobile img {
        height: 5.5rem;
        width: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

    }

    .Nav-ui-mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
    }

    .Nav-ui-mobile > #myLinks{
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 3rem;
        
    }
    .Nav-ui-mobile #myLinks img {
        width: 3rem;
        height: 4rem;
        border-radius: 2rem;
        margin-top: 0.75rem;
        margin-left: 3.5rem;

    }

    .login-name-mobile {
        padding-top: 1rem;
        padding-left: 1rem;
        max-width: 100%;
        
    }

    .login-name-mobile button {
        border-radius: 0.5rem;
        height: 4rem;
        width: 4rem;
        
    }

    .login-name-mobile button a {
        text-decoration: none;
    }
}

/* ==================== MEDIA QUERY ================== */

@media screen and (max-width :884px) {
    .Nav-content1 {
        display: none;
    }

    .Nav-mobile {
        margin: auto;
        background-color: #46469C;
        height: 6rem;
        display: flex;
        
    }

    .logo-mobile img {
        height: 5.5rem;
        width: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

    }

    .Nav-ui-mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
    }

    .Nav-ui-mobile > #myLinks{
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 2.5rem;
        
    }
    .Nav-ui-mobile #myLinks img {
        width: 2.6rem;
        height: 3rem;
        border-radius: 2rem;
        margin-top: 1.35rem;
        margin-left: 3.5rem;

    }

    .login-name-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding-top: 1.2rem;
        padding-left: 1rem;
        margin-right: 1rem;
        
        
    }

    .login-name-mobile button {
        border-radius: 0.5rem;
        height: 3rem;
        width: 4rem;
        gap: 1rem;
        
    }

    .login-name-mobile button a {
        text-decoration: none;
    }
}

/* ==================== MEDIA QUERY ================== */



@media screen and (max-width :768px) {
    .Nav-content1 {
        display: none;
    }

    .Nav-mobile {
        margin: auto;
        background-color: #46469C;
        height: 5.5rem;
        display: flex;
        justify-content: space-between;
    }

    .logo-mobile img {
        max-width: 100%;
        width: 6rem;
        height: 6rem;
        padding-left: 0.5rem;
    }


    .Nav-ui-mobile #myLinks img {
        width:2.5rem;
        height: 2rem;
        border-radius: 0.5rem;
        margin-top: 1.5rem;
        margin-left: 1.5rem;

    }

    .login-name-mobile {
        text-align: center;
        justify-content: center;
        margin-right: 1rem;
        padding: 1.55rem 1.98rem;
        max-width: 100%;
    }

    .login-name-mobile button {
        border-radius: 1rem;
        width: 3rem;
        height: 2rem;
    }

    .login-name-mobile button a {
        text-decoration: none;
    }

}

/* ==================== MEDIA QUERY ================== */

@media screen and (max-width :390px) {
    .Nav-content1 {
        display: none;
    }

    .Nav-mobile {
        margin: auto;
        background-color: #46469C;
        height: 5rem;
        display: flex;
        justify-content: space-between;
    }

    .logo-mobile img {
        display: none;
    }


    .Nav-ui-mobile #myLinks {
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 1rem;
    }

    .Nav-ui-mobile #myLinks img{
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        margin-bottom: 2rem;
    }

    .login-name-mobile {
        padding-top: 1.3rem;
        max-width: 100%;
    }


    .login-name-mobile button {
        border-radius: 2rem;
    }

    .login-name-mobile button a {
        text-decoration: none;
    }

  


}